.green-button {
    @include btn;

    border: 0;
    background-color: $green-color;

    font-size: 13.3px;
    line-height: 15px;

    @extend .uppercase;
}

.white-n-alpha-button {
    @include btn;

    @extend .uppercase;

    border: 1px solid $primary-text-color;
    box-sizing: border-box ;
    padding-top: 20px;
    padding-bottom: 20px;

    background: none;

    text-decoration: none;
    text-align: center;
    color: $base-text-color;
    font-family: Roboto;
    font-size: 16px;

    width: 100%;
}

.white-n-alpha-button-small {
    @extend .white-n-alpha-button;

    font-size: 12.8px;
    padding-top: 18px;
    padding-bottom: 18px;
}

@media (max-width: 1239px) {
    .white-n-alpha-button-small {
        font-weight: normal;
        font-size: 12.8px;
        line-height: 150%;
    }
}

.red-button {
    @include btn;

    width: fit-content;

    border: 0;
    box-sizing: border-box;
    border-radius: 2rem;
    padding: 17px 40px 17px 40px;

    text-decoration: none;
    text-align: center;
    background-color: $red;
    color: $primary-text-color;
    text-transform: none;

    font-weight: normal;
    font-size: 12.8px;
    line-height: 150%;
}