.btn {
  width: 100%;
  padding: 21px 30px;

  color: $primary-text-color;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;

  border-radius: 5px;
}

.green-button {
  font-size: 13.3px;
  line-height: 15px;

  background-color: $green-color;
  border: 0;
}

.white-n-alpha-button {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;

  color: $base-text-color;
  text-align: center;
  text-decoration: none;

  border: 1px solid $primary-text-color;
}

.white-n-alpha-button-small {
  @extend .white-n-alpha-button;

  padding-top: 16px;
  padding-bottom: 16px;

  font-size: 12.8px;
}

@media (max-width: 1239px) {
  .white-n-alpha-button-small {
    font-weight: normal;
    font-size: 12.8px;
    line-height: 150%;
  }
}

.red-button {
  box-sizing: border-box;
  width: fit-content;
  padding: 16px 40px 16px 40px;

  color: $primary-text-color;
  font-weight: normal;
  font-size: 12.8px;
  line-height: 150%;
  text-align: center;
  text-transform: none;
  text-decoration: none;

  background-color: $red;
  border: 0;
  border-radius: 2rem;
}

.intro-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 200px;
  min-width: 200px;
  height: 62px;
  margin-right: 1.5em;
  margin-bottom: 24px;
  padding-top: 20px;
  padding-bottom: 20px;

  font-weight: normal;
  font-size: 12.8px;
  line-height: 150%;
  text-decoration: none;

  border: 0;

  p {
    @extend .text-small;

    margin: 0;

    text-transform: uppercase;
  }
}

.button-red {
  background-color: $red;
}

.button-purple {
  background-color: $purple;
}
