.uppercase {
    text-transform: uppercase;
}

.margin-right-16 {
    margin-right: 16px;
}

.no-margin {
    margin: 0;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-2 {
    margin-top: 2em;
}

.margin-bottom-1 {
    margin-bottom: 1em;
}

.margin-bottom-24 {
    margin-bottom: 1.5em;
}

.margin-right-24 {
    margin-right: 1.5em;
}

.text-center {
    text-align: center;
}

.text-white {
    color: $primary-text-color;
}

.line-height-1 {
    line-height: 1em;
}

.color-orange {
    color: $orange;
}

.fill-white {
    fill: $primary-text-color;
}

.white-space-nowrap {
    white-space: nowrap;
}