
body {
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: $base-text-color;
  line-height: 1.5em;

  margin: 0;
  padding: 0;

  background-color: $base-back-color;
}

.document-width {
  width: 100%;
  display: flex;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: 1240px) {
  .document-width {
    width: 1200px;
    box-sizing: content-box;
    margin: 0 auto;
}
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;
  clip: rect(0, 0, 0, 0);
}
