
body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 1.5em;
    color: $base-text-color;
    background-color: $base-back-color;
    margin: 0;
    padding: 0;
}

.document-width {
    width: 100%;
    padding: 0 20px;
    display: flex;
    box-sizing: content-box;
}

@media (min-width: 1240px) {
    .document-width {
        width: 1200px;
        margin: 0 auto;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}