.footer {
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
    margin: 100px 0 0 0;
    padding-top: 30px;
    width: 100%;

    color: $primary-text-color;
}

.footer-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 75px;
    
    @extend .document-width;
    @extend .text-size-1;
}

.footer-columns-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    flex-grow: 1;
    margin-right: 50px;
}

.footer-h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 30px 0 16px 0;
    width: 100%;
    text-align: start;
}

@media (min-width: 1240px) {
    .footer-h2 {
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
    }
}

.footer-text-span {
    width: 100%;
    text-align: left;
}

.footer-link {
    
    text-decoration: none;
    color: $gray;

    &:hover {
        color: $primary-text-color;
    }

    &:visited {
        color: $primary-text-color;
    }
}

.footer-below {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 32px;
    border-top: 1px solid $gray;
}

.footer-nav {
    display: flex;
    align-items: center;

    @extend .text-size-1;
    @extend .document-width;
}

.footer-list {
    padding-inline-start: 0px;
    display: flex;
    flex-direction: row;
}

.footer-list-item {
    list-style: none;
    margin-right: 24px;
    margin-bottom: 16px;
}

@media (max-width: 1239px) {
    .footer-columns {
        flex-direction: column;
    }

    .footer-list {
        flex-direction: column;
    }
}