.footer {
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
    padding-top: 45px;
    width: 100%;

    color: $primary-text-color;
}

.footer-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 59px;
    
    @extend .document-width;
    @extend .text-size-1;
}

@media (min-width: 1240px) {
    .footer-columns {
        padding-bottom: 75px;
    }
}

.footer-columns-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    flex: 1 1 270px;
    margin-right: 0;
    margin-bottom: 14px;

    &:nth-child(4) {
        margin-right: 0;
    }
}

@media (min-width: 1240px) {
    .footer-columns-item {
        margin-right: 40px;
        margin-bottom: 0;
    }
}

.footer-h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    margin: 16px 0 16px 0;
    width: 100%;
    text-align: start;
}

@media (min-width: 1240px) {
    .footer-h2 {
        font-weight: bold;
        font-size: 18px;
    }
}

.footer-text-span {
    width: 100%;
    text-align: left;
}

.footer-lineheight-1 {
    line-height: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.footer-logoes {
    display: flex;
    flex-direction: row;
}

.footer-link {
    text-decoration: none;
    color: $gray;
    margin-right: 24px;
    
    &:hover {
        color: $primary-text-color;
    }

    &:visited {
        color: $primary-text-color;
    }
}

.footer-link-logoes-cont {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 24px;
}

.footer-link-logoes {
    margin-bottom: 2px;
}

.footer-below {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 32px;
    border-top: 1px solid $gray;
}

.footer-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: row;

    @extend .text-size-1;
    @extend .document-width;
}

@media (max-width: 1239px) {
    .footer-nav {
        flex-direction: column;
    }
}