.footer {
  width: 100%;
  margin-top: 100px;
  padding-top: 46px;

  color: $primary-text-color;

  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

@media (min-width: 1240px) {
  .footer {
    padding-top: 45px;
  }
}

.footer-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 0;
  padding-bottom: 59px;

  @extend .document-width;
  @extend .text-size-1;
}

@media (min-width: 1240px) {
  .footer-columns {
    padding-bottom: 75px;
  }
}

.footer-columns-item {
  display: flex;
  flex: 1 1 270px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 14px;

  &:nth-child(4) {
    margin-right: 0;
  }
}

@media (min-width: 1240px) {
  .footer-columns-item {
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.footer-h2 {
  @include h2-base;
  
  margin: 16px 0 16px 0;

  font-weight: bold;
  font-size: 18px;
  line-height: 27px;

  text-align: start;
  text-transform: uppercase;
}

@media (min-width: 1240px) {
  .footer-h2 {
    font-weight: bold;
    font-size: 18px;
  }
}

.footer-logoes {
  display: flex;
  flex-direction: row;
}

.footer-link {
  width: 100%;
  margin-right: 24px;

  color: $gray;
  text-decoration: none;

  &:hover {
    color: $primary-text-color;
  }

  &:visited {
    color: $primary-text-color;
  }
}

@media (min-width: 1240px) {
  .footer-link {
    width: auto;
    margin-right: 44px;
  }
}

.footer-link-logoes-cont {
  @extend .footer-link;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 24px;
  margin-right: 24px;
}

.footer-link-logoes {
  margin-bottom: 2px;
}

.footer-below {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 32px;

  border-top: 1px solid $gray;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;

  @extend .text-size-1;
  @extend .document-width;
}

@media (max-width: 1239px) {
  .footer-nav {
    flex-direction: column;
  }
}

.footer-below-link {
  @extend .footer-link;

  display: flex;
  box-sizing: border-box;
  margin-right: 0;
  padding-right: 15px;
}

.footer-lineheight-1 {
  width: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 2px;
  padding-bottom: 2px;

  line-height: 100%;
}

.footer-text-span {
  width: 100%;

  text-align: left;
}
