.popular-tracks {
    @extend .container;

    align-items: flex-start;
}

.popular-tracks-playlist {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    
    margin-top: 23px;
}
    
.popular-tracks-item{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex: 0 1 550px;
    justify-content: space-between;
    align-items: center;
    
    max-width: 550px;
    width: auto;

    margin-top: 25px;
    margin-right: 0;
}    

@media (min-width: 1240px) {
    .popular-tracks-item{
        margin-right: 50px;
    }
}

.popular-tracks-item-img {
    width: 55px;
    height: 55px;

    margin-right: 15px;
}

.popular-tracks-item-description {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.popular-tracks-item-name {
    @extend .popular-track-small-bold;
    @extend .no-margin;
}

.popular-tracks-item-album {
    @extend .text-small;
    @extend .no-margin;
}

.popular-tracks-item-time {
    @extend .text-small;
    @extend .no-margin;
}