.diskography {
    @extend .container;

    align-items: flex-start;
}

.diskography-h2 {
    @extend .no-margin;

    width: 100%;
}

.diskography-list {
    @extend .horizontal-list;
}
    
.diskography-album {
    @extend .horizontal-list-item;
}    

.diskography-album-adaptive-img {
    @extend .horizontal-list-adaptive-img;
}

.diskography-album-img {
    @extend .horizontal-list-img;
}

.diskography-album-name {
    @extend .h4-capitalize-bold;
    @extend .no-margin;

    width: 138px;
}

.diskography-album-year {
    @extend .text-size-1;
    @extend .no-margin;

    width: 100%;
}

@media (min-width: 1240px) {
    .diskography-album-name {
        width: 100%;
    }
}