.diskography-main-title {
  @include h2-base;
}

.diskography-album-name {
  width: 138px;
  margin: 0;

  text-transform: capitalize;
}

.diskography-album-year {
  width: 100%;
  margin: 0;
}

@media (min-width: 1240px) {
  .diskography-album-name {
    width: 100%;
  }
}
