.simular-artists {
    @extend .container;

    align-items: flex-start;
}

.simular-artists-h2 {
    width: 100%;

    @extend .no-margin;
}

.simular-artists-list {
    @extend .horizontal-list;
}
    
.simular-artists-item {
    @extend .horizontal-list-item;

    align-items: center;
}    

.simular-artists-adaptive-img {
    @extend .horizontal-list-adaptive-img;
}

.simular-artists-img {
    @extend .horizontal-list-img;
}

.simular-artists-name {
    @extend .h4-capitalize-bold;
    @extend .no-margin;

    width: 100%;
    text-align: center;
    text-transform: capitalize;
}

.simular-artists-fans {
    @extend .text-small;
    @extend .no-margin;

    width: 100%;
    text-align: center;
}