.simular-artists {
  @extend .container;

  align-items: flex-start;

  padding-top: 100px;
}

.simular-artists-main-title {
  @include h2-base;
}

.simular-artists-list {
  @extend .horizontal-list;
}

.simular-artists-item {
  @extend .horizontal-list-item;

  align-items: center;
}

.simular-artists-adaptive-img {
  @extend .horizontal-list-adaptive-img;
}

.simular-artists-img {
  @extend .horizontal-list-img;
}

.simular-artists-name {
  @extend .h4-capitalize-bold;

  width: 100%;
  margin: 0;

  text-align: center;
  text-transform: capitalize;
}

.simular-artists-fans {
  @extend .text-small;

  width: 100%;
  margin: 0;

  font-size: 16px;
  text-align: center;
}

.simular-artists-fans-description {
  display: block;
  width: 100%;
}

@media (min-width: 1240px) {
  .simular-artists-fans {
    font-size: 12.8px;
  }

  .simular-artists-fans-description {
    display: inline;
    width: fit-content;
  }
}
