.application {
    @extend .container;
}

.application-h2 {
    width: 100%;
    text-align: center;
    margin: 0;
}

.application-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
}

.application-column {
    margin-top: 48px;

    display: flex;
    flex: 1 1 600px;
    flex-direction: column;

    &:nth-child(2n-1) {
        align-items: center;
    }
}

.application-column-text {
    @extend .text-size-1;

    margin-top: 8px;
    margin-bottom: 8px;

    &:first-of-type {
        margin-top: 16px;
    }

    &:last-of-type {
        margin-bottom: 16px;
    }
}

.application-img {
    position: relative;
    left: 20px;
    width: auto;
    height: 100%;
    max-width: 333px;
}