.pricing {
  @extend .container;

  padding-top: 100px;
}

.pricing-main-title {
  @include h2-base;

  text-align: center;
}

.pricing-secondary-title {
  width: 100%;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;

  text-align: center;
}

@media (min-width: 1240px) {
  .pricing-secondary-title {
    padding-top: 5px;
    padding-bottom: 4px;
  }
}

.pricing-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
}

.pricing-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  max-width: 374px;
  margin: 46px 0 0 0;
  padding: 18px 1.5rem 66px 1.5rem;

  border-radius: 1rem;
}

@media (min-width: 1240px) {
  .pricing-item {
    padding: 21px 1.5rem 66px 1.5rem;
  }
}

.pricing-value {
  display: flex;
  justify-content: center;

  width: 100%;
  margin-top: 200px;
  margin-bottom: 40px;
}

@media (min-width: 1240px) {
  .pricing-value {
    margin-bottom: 36px;
  }
}

.pricing-number {
  @extend .text-size-7;

  height: 64px;
  margin: 0 16px 0 0;
  padding: 0;

  line-height: 1em;
}

.pricing-roubles {
  position: relative;
  top: 0;

  text-transform: uppercase;

  @extend .text-size-3;
}

.pricing-footer {
  margin: 64px 0 0 0;

  text-align: center;

  @extend .text-small;
}

.pricing-bg-free {
  background-image: url("../images/subscribe_1.png");

  @include backgr-picture;
}

.pricing-bg-standart {
  background-image: url("../images/subscribe_2.png");

  @include backgr-picture;
}

.pricing-bg-premium {
  background-image: url("../images/subscribe_3.png");

  @include backgr-picture;
}

.pricing-ps {
  @extend .text-size-1;

  margin: 39px 0 0 0;

  text-align: center;
}
