.pricing {
    @extend .container;
}

.pricing-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pricing-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 367px;
    box-sizing: border-box;
    border-radius: 1rem;

    padding: 1.5rem;
    margin: 2rem 0;    
}

.pricing-value {
    margin-top: 200px;
    margin-bottom: 50px;
}

.pricing-number {
    @extend .text-size-7;
    @extend .line-height-1;
}

.pricing-roubles {
    position: relative;
    top: -20px;

    @extend .text-size-3;
    @extend .uppercase;
}

.pricing-footer {
    margin: 65px 0;

    @extend .text-small;
    @extend .text-center;
}

.bg-free {
    background-image: url("../images/subscribe_1.png");
    
    @include backgr-picture;
}

.bg-standart {
    background-image: url("../images/subscribe_2.png");
    
    @include backgr-picture;
}

.bg-premium {
    background-image: url("../images/subscribe_3.png");
    
    @include backgr-picture;
}