.pricing {
    @extend .container;
}

.pricing-h2 {
    width: 100%;
    text-align: center;
    margin: 0;
}

.pricing-h3 {
    width: 100%;
    text-align: center;
    margin: 0;
}

@media (min-width: 1240px) {
    .pricing-h3 {
        padding-top: 5px;
        padding-bottom: 4px;
        font-weight: 400;
    }
}

.pricing-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pricing-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 367px;
    box-sizing: border-box;
    border-radius: 1rem;

    padding: 18px 1.5rem 66px 1.5rem;
    margin: 46px 0 0 0;    
}

@media (min-width: 1240px) {
    .pricing-item {
        padding: 21px 1.5rem 66px 1.5rem;
    }
}

.pricing-value {
    display: flex;
    margin-top: 200px;
    margin-bottom: 40px;
    width: 100%;
    justify-content: center;
}

@media (min-width: 1240px) {
    .pricing-value {
        margin-bottom: 36px;
    }
}

.pricing-number {
    @extend .text-size-7;
    @extend .line-height-1;

    height: 64px;
    margin: 0 16px 0 0;
    padding: 0;
}

.pricing-roubles {
    position: relative;
    top: 0;

    @extend .text-size-3;
    @extend .uppercase;
}

.pricing-footer {
    margin: 64px 0 0 0;

    @extend .text-small;
    @extend .text-center;
}

.pricing-bg-free {
    background-image: url("../images/subscribe_1.png");
    
    @include backgr-picture;
}

.pricing-bg-standart {
    background-image: url("../images/subscribe_2.png");
    
    @include backgr-picture;
}

.pricing-bg-premium {
    background-image: url("../images/subscribe_3.png");
    
    @include backgr-picture;
}

.pricing-ps {
    @extend .text-size-1;
    @extend .text-center;
    @extend .no-margin;

    margin-top: 39px;
}