.quick-registration {
    @extend .container;
    
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 0;

    @extend .text-white;
}

.quick-registration-h1, .quick-registration-h2 {
    @extend .no-margin;
    @extend .text-center;

    width: 100%;
    text-align: center;
}

.quick-registration-span {
    @extend .text-size-1;
    @extend .text-center;

    width: 100%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.quick-registration-form {
    display: flex;
    justify-content: space-between;
    max-width: 570px;
    flex-wrap: wrap;
}

.quick-registration-textfield {
    box-sizing:border-box;
    width: 100%;
    min-width: 270px;
    min-height: 50px;
    padding-left: 20px;
    margin-bottom: 1.5rem;
    border: 2px solid $base-text-color;
    background: none;
    color: $primary-text-color;
    border-radius: 3px;        
}

.quick-registration-backgr-picture {
    background-image: url("../images/banner.png");
    
    @include backgr-picture;
    
    margin: 0;
    padding: 250px 0;
    width: 100%;
}

@media (min-width: 1240px) {
    .quick-registration-form {
        margin: 0 auto;
    }

    .quick-registration-textfield {
        width: auto;
    }

    .quick-registration-backgr-picture {
        padding: 200px 0;
    }

    .quick-registration-span {
        margin-top: 2em;
    }
}