@import "variables";
@import "general";

.header {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    z-index: 100;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    font-weight: bold;
    font-style: normal;
    font-size: 11px;
    line-height: 13px;
    color: $primary-text-color;   
}

.logo-header-size {
    width: 25px;
    height: 25px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav > ul {
padding-inline-start: 0px;
}

.nav > ul > li {
    list-style: none;
    margin-right: 24px;
}

.nav > ul > li > a {
    text-decoration: none;
    font-weight: bold;
    font-style: normal;
    font-size: 11px;
    line-height: 13px;
    color: $primary-text-color;
}

.nav > ul > li > a:hover {
    color: blue;
}

.nav > ul > li > a:visited {
    color: $primary-text-color;
}

.find-form {
    width: 238px;
    height: 25px;
    background-color: $dark;
    border: 0;
    border-radius: 50px;
    padding-left: 10px;
    color: #757575;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 13.3px;
    line-height: 15px;
}

.quick-registration {
    margin: 200px auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.quick-registration-form {
    display: flex;
    justify-content: space-between;
    max-width: 570px;
    flex-wrap: wrap;
}

.quick-registration-form > .textfield {
    box-sizing:border-box;
    min-width: 270px;
    min-height: 50px;
    padding-left: 20px;
    margin-bottom: 1.5rem;
    border: 2px solid $base-text-color;
    background: none;
    color: $primary-text-color;
    border-radius: 3px;
}

.quick-registration-form > .submit-button {
    padding: 20px 30px;
    border-radius: 5px;
    background-color: $green-color;
    width: 100%;
    border: 0;
}