@import "variables";
@import "general";

.application {
    display: flex;
    flex-direction: column;
    align-items: center;

    .appl-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 100px;

            .appl-column {
            margin-top: 48px;
        
            display: flex;
            flex: 1 1 600px;
            flex-direction: column;

            &:nth-child(2n-1) {
                align-items: center;
            }

            .appl-img {
                width: auto;
                height: 100%;
                max-width: 333px;
            }

            .download-button {
                @include btn;
            
                border: 0;
                box-sizing: border-box;
                border-radius: 2rem;
            
                text-decoration: none;
                text-align: center;
                background-color: $red;
                color: $primary-text-color;
            }
        }
    }
}