.submit-button {
    @include btn;

    border: 0;
    background-color: $green-color;

    @extend .uppercase;
}

.subscribe-button {
    @include btn;

    border: 2px solid $primary-text-color;
    box-sizing: border-box;

    text-decoration: none;
    text-align: center;
}

