/* CSS Document */
@import "variables";

@font-face {
    font-weight: normal;
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
  
@font-face {
    font-weight: bold;
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 1.5em;
    color: $base-text-color;
    background-color: $base-back-color;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
}

h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
}

h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}

.text-size-7 {
    font-weight: normal;
    font-size: 64px;
    line-height: 150%;
}

.text-size-6 {
    font-weight: normal;
    font-size: 56px;
    line-height: 150%;
}

.text-size-5 {
    font-weight: normal;
    font-size: 48px;
    line-height: 150%;
}

.text-size-4 {
    font-weight: normal;
    font-size: 40px;
    line-height: 150%;
}

.text-size-3 {
    font-weight: normal;
    font-size: 32px;
    line-height: 150%;
}

.text-size-2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
}

.text-size-1 {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.text-small {
    font-weight: normal;
    font-size: 12.8px;
    line-height: 150%;
}

.popular-track-small-bold {
    font-weight: bold;
    font-size: 12.8px;
    line-height: 150%;
    text-transform: uppercase;
}

.document-width {
    width: 100%;
    padding: 0 20px;
    display: flex;
    box-sizing: border-box;
}

@media (min-width: 1240px) {
    .document-width {
        width: 1200px;
        margin: 0 auto;
        padding: 0;
    }

    h1 {
        font-weight: bold;
        font-size: 60px;
        text-transform: uppercase;
        line-height: 90px;
    }

    h2 {
        font-weight: bold;
        font-size: 38px;
        text-transform: uppercase;
        line-height: 57px;
    }

    h3 {
        font-weight: normal;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 45px;
    }

    .h3-capitalize {
        font-weight: normal;
        font-size: 24px;
        line-height: 45px;
    }

    .h3-capitalize-bold {
        font-weight: bold;
        font-size: 24px;
        line-height: 45px;
    }

    h4 {
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
    }

    .h4-capitalize-bold {
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
    }
}

.uppercase {
    text-transform: uppercase;
}

.margin-right-16 {
    margin-right: 1em;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.no-margin {
    margin: 0;
}

.margin-top-2 {
    margin-top: 2em;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-bottom-1 {
    margin-bottom: 1em;
}

.margin-bottom-24 {
    margin-bottom: 1.5em;
}

.margin-right-24 {
    margin-right: 1.5em;
}

.text-center {
    text-align: center;
}

.text-white {
    color: $primary-text-color;
}

.line-height-1 {
    line-height: 1em;
}

.color-orange {
    color: $orange;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.fill-white {
    fill: $primary-text-color;
}

@mixin btn {
    padding: 20px 30px;
    border-radius: 5px;
    
    width: 100%;
    
    color: $primary-text-color;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

@mixin backgr-picture {
    background-position: center;
    background-size: cover;
}